<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>  
        <setting name="logPrefix" value="dao."/>
    </settings>
	<plugins>
		<plugin interceptor="com.lumei.crm.commons.mybatis.support.plugin.OffsetLimitInterceptor">
			<property name="dialectClass"
				value="com.lumei.crm.commons.mybatis.support.dialect.MySQLDialect" />
		</plugin>
	</plugins>
</configuration>